@model IEnumerable<Irci.Entity.Article>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Judul)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Submission)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bahasa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deskripsi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publisher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.URL)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Judul)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Submission)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bahasa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deskripsi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Publisher)
        </td>
        <td>
            @foreach (var author in item.Author)
            {
                @author
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.URL)
        </td>
    </tr>
}

</table>
