@model IEnumerable<Irci.Entity.Article>
@{

    var url = "http://riset.ajk.if.its.ac.id/kel1irci/";
}

    <form action="@(url+"ArticleManager/GenerateNewArticle/")" method="POST">
    <table class="table">
        <tr>
            <th>
                Judul
            </th>
            <th>
                Submission
            </th>
            <th>
                Author
            </th>
            <th>
                URL
            </th>
        </tr>

        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Judul)
                    @Html.HiddenFor(modelItem => item.Judul)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Submission)
                </td>
                <td>
                    @foreach (var author in item.Author)
                    {
                        @author<br />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.URL)
                </td>
            </tr>
        }

    </table>

    <div style="width:100%">
        <button style="margin:auto;display:block" type="submit">Generate</button>
    </div>
</form>

}