@model IEnumerable<Irci.Entity.Profile>

@{
    ViewBag.Title = "SearchProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var User = "";
    var url = "http://riset.ajk.if.its.ac.id/kel1irci/";
    if (Session["uu"] != null)
    {
        User = Session["uu"].ToString();
    }
}

<div id="headerwrap" style="padding-bottom: 5em">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <!-- <h3>Show your work with this beautiful theme</h3> -->
                <h1>Indonesia Research Citation Index</h1>
                <form action="@(url+"ProfileManager/SearchProfile")" method="POST" accept-charset="utf-8">
                    <div class="input-group" id="costum-search-input">
                        <input type="text" class="search-query form-control" placeholder="Search" name="keyword" />
                        <span class="input-group-btn">
                            <button class="btn btn-danger" style="background-color:#26657F; border-color: #26657F " type="button">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
            <form action=="@(url+"ProfileManager/MergeProfile")" method="post">
                <div class="col-sm-12" style="background-color: white; padding: 3em ;text-align: left;margin-top: 3em; min-height: 100%">
                    @if (Model.Count() == 0)
                    {
                        <h4 align="center">Profile Not Found</h4>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            <div style="border-bottom: 1px solid black">
                                <h4>
                                    @if (User != "")
                                    {
                                        <input class="merging" name="profile" type="checkbox" value="@Html.DisplayFor(modelItem => item.ID)" />
                                    }
                                    @if (item.IDProfileMain != "")
                                    {
                                        <a href="@(url+"ProfileManager/ViewProfile?idprofile=")@Html.DisplayFor(modelItem => item.IDProfileMain)">
                                            @Html.DisplayFor(modelItem => item.Nama)
                                        </a>
                                    }
                                    else
                                    {  
                                        @Html.DisplayFor(modelItem => item.Nama)
                                    }
                                </h4>
                                <p>@Html.DisplayFor(modelItem => item.Instansi)</p>
                                <p>@Html.DisplayFor(modelItem => item.Deskripsi)</p>
                            </div>
                        }

                        if (User != "")
                        {
                            <input type="submit" class="btn btn-primary" value="Merge">
                        }
                    }
                </div>
            </form>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->